* {
margin: 0;
font-family: sans-serif;
}
body{
    background-image: url(background-image.png);
    background-position: bottom;
    height: 100vh;
    background-repeat: no-repeat;
    max-width: 1440px;
    margin: auto
}
nav {
display: flex;
justify-content: space-around;
align-items: center;
padding: 10px 0px;
height: 10vh;
}
nav ul{
display: flex;
list-style-type: none;
display: flex;
justify-content: space-between;
gap: 20px;
align-items: center;
}
.nav-button{
    background-color: rgb(240, 91, 115);
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    width: 100px
}
main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 7%;
    height: 82vh;
}
.left{
    position: relative;
    width: 35%;
}
section h1 {
    font-size: 65px;
    padding-bottom: 20px;
    padding-top: 30px;
}
.button1 {
background-color: rgb(194, 3, 114);
color: white;
width: 110px;
height: 40px;
border-radius: 5px;
padding: 10px 10px;
}
.button2 {
background-color: white;
color: rgb(252, 59, 91);
width: 130px;
height: 40px;
border-radius: 5px;
padding: 10px 10px;
}
.contact {
    display: flex;
    align-items: center;
    position: absolute;
    margin-left: 30px;
    bottom: -100px;
}
.contact1{
    display: flex;
    display: flex;
    align-items: center;
    gap: 10px;
}
.contact2 ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 10px;

}
.right{
 position: relative;
 width: 65%;
}
.car-loan{
    position: absolute;
    display: flex;
    align-items: center;
    width: 110px;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 30px;
    top: 8%;
    left: 10%;
    background-color: #ffffff;
    border: none;
    box-shadow: 1px 1px 20px grey;
}
.home-loan{
    position: absolute;
    border: 1px solid red;
    display: flex;
    align-items: center;
    width: 125px;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 30px;
    right: 10%;
    top: 25%;
    background-color: #ffffff;
    border: none;
    box-shadow: 10px 10px 50px grey;
}
.image{
    width: 100%;
}
@media screen and (max-width: 768px) {
    body {
        background-position: center;
    }
    main {
        padding-top: 10%;
        flex-direction: column-reverse;
        gap: 10px;
        margin: 0 10%;
    
    }
    .main-hero-right {
        width: 100%
    }
    .main-hero-left {
        width: 100%;
      text-align: center;
      
    }
    .contact {
      
        width: 100%;
        justify-content: center;    
    }
    
    .car-loans {
        top: 0;
        left: 5%;
    }
    .home-loans {
        right: 0;
    }
    .nav-menu {
        display: none;
       
    }
}

@media screen and (max-width: 425px) {

    .car-loans {
        left: -10px;
        width: 95px;
    }
    .home-loans {
        width: 110px;
        right: -25px;
    }
   
}